@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a32bex');
  src:  url('fonts/icomoon.eot?a32bex#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?a32bex') format('truetype'),
    url('fonts/icomoon.woff?a32bex') format('woff'),
    url('fonts/icomoon.svg?a32bex#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Client-6:before {
  content: "\e900";
}
.icon-Client-5:before {
  content: "\e901";
}
.icon-Client-3:before {
  content: "\e902";
}
.icon-Client-2:before {
  content: "\e903";
}
.icon-Client-4:before {
  content: "\e904";
}
.icon-Client-1:before {
  content: "\e905";
}
.icon-Ellipse-3:before {
  content: "\e906";
}
.icon-Ellipse-2:before {
  content: "\e907";
}
.icon-Ellipse-1:before {
  content: "\e908";
}
.icon-Ellipse:before {
  content: "\e909";
}
.icon-Vector:before {
  content: "\e90a";
}
.icon-envelope-hover:before {
  content: "\e90b";
}
.icon-Social-links:before {
  content: "\e90c";
}
