* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1, h2, h3, p {
  margin: 0;
}

span {
  color: #2196F3;
}

li {
  list-style: none;
  display: inline-block;
}

ul {
  padding: 0;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section:not(.OurTeam) {
  margin-bottom: 100px;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.features__items::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.OurTeam__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  .footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__form > input {
    width: 100%;
    padding: 15px;
  }
  .footer__form > button {
    padding: 15px 0px;
  }
}
@media (min-width: 767px) and (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .info__list {
    width: 138px;
    height: 38px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__list {
    width: 283px;
  }
  .hero {
    height: 400px;
    background-image: url("../../images/tablet/index/hero-background1.jpg");
  }
  .modal {
    width: 450px;
    height: 609px;
  }
  .features__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
  }
  .features__items {
    width: calc(50% - 30px);
  }
  .first {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  .second {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .WhatDoWeDo {
    display: none;
  }
  .OurTeam {
    min-height: 1285px;
  }
  .OurTeam__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .OurTeam__li {
    width: 354px;
    height: 536px;
  }
  .OurTeam__img {
    width: 354px;
    height: 374px;
  }
  .regularCustomers__li {
    width: 30%;
  }
  .regularCustomers__list {
    gap: 30px;
  }
  .footer__list {
    text-align: center;
  }
  .footer__logo {
    text-align: center;
  }
  .footer__div-form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dippx), (min-width: 767px) and (max-width: 1200px) {
  .hero {
    background-image: url("../../images/tablet/index/hero-background2.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dippx), (max-width: 767px) {
  .hero {
    background-image: url("../../images/mobile/index/hero-background2.jpg");
  }
