.WhatDoWeDo-section-container {
  text-align: center;
}

.WhatDoWeDo-section-list {
  display: flex;
  justify-content: space-between;
}

.WhatDoWeDo-section-img-list-items {
  width: 370px;
  height: 294px;
}
